.bg-purple {
    background: #9055fd !important;
}

.bg-orange {
    background: #ff7000 !important;
}

.bg-green {
    background: #3fe0d0;
}

.bg-red {
    background: #ff0000;
}

.bg-danger-dark {
    background: #ad0202;
}

.bg-danger-light {
    background: #f85050;
}

#template-customizer {
    display: none!important;
}
